alabaster==0.7.12
AnyQt==0.0.10
args==0.1.0
arrow==0.15.2
asgiref==3.2.10
Babel==2.8.0
backports.csv==1.0.7
baycomp==1.0.2
beautifulsoup4==4.9.1
Bottleneck==1.3.2
Brotli==1.0.7
CacheControl==0.12.6
cachetools==3.1.1
certifi==10001
cffi==1.14.0
chardet==3.0.4
click==7.1.2
clint==0.5.1
cloudpickle==1.5.0
cobalt==3.0.0
cobble==0.1.3
commonmark==0.9.1
confusable-homoglyphs==3.2.0
contextlib2==0.5.5
contextvars==2.4
cracklib==2.9.7
cryptography==2.9.2
cycler==0.10.0
Cython==0.29.20
dataclasses==0.7
decorator==4.4.2
defusedxml==0.6.0
dictdiffer==0.8.1
dj-database-url==0.5.0
Django==3.0.10
django-activity-stream==0.8.0
django-allauth==0.40.0
django-appconf==1.0.3
django-background-tasks==1.2.0
django-captcha==1.0.0
django-ckeditor==5.7.1
django-compat==1.0.15
django-compressor==2.3
django-contrib-comments==1.9.1
django-cors-headers==3.1.1
django-countries-plus==1.2.1
django-filter==2.2.0
django-fsm==2.6.1
django-js-asset==1.2.2
django-jsonfield==1.3.1
django-jsonfield-compat==0.4.4
django-languages-plus==1.0.0
django-pipeline==1.6.14
django-recaptcha==2.0.6
django-registration-redux==2.8
django-render-block==0.6
django-reversion==3.0.4
django-sass-processor==0.7.3
django-storages==1.7.2
django-taggit==1.1.0
django-taggit-serializer==0.1.7
django-templated-email==2.3.0
django-wkhtmltopdf==3.2.0
djangorestframework==3.11.0
djangorestframework-xml==2.0.0
docopt==0.6.2
docutils==0.16
EbookLib==0.17.1
et-xmlfile==1.0.1
gemato==14.4
google-api-core==1.22.4
google-api-python-client==1.7.11
google-auth==1.22.1
google-auth-httplib2==0.0.3
google-cloud==0.34.0
google-cloud-core==1.4.2
google-cloud-speech==2.0.0
google-cloud-storage==1.31.2
google-cloud-translate==3.0.1
google-cloud-vision==0.40.0
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.6.0
gpg==1.13.0
grpcio==1.32.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.4.24
html5lib==1.0.1
httplib2==0.14.0
httpx==0.12.1
hyperframe==5.2.0
idna==2.8
imagesize==1.1.0
immutables==0.12
importlib-metadata==1.6.0
instamojo-wrapper==1.2.0
internetarchive==1.8.5
iotop==0.6
jdcal==1.4.1
jeepney==0.4.3
Jinja2==2.11.2
joblib==0.14.1
jsonpatch==1.24
jsonpointer==2.0
keyring==21.2.0
keyrings.alt==3.4.0
kiwisolver==1.2.0
libcst==0.3.12
libsass==0.19.3
llvmlite==0.32.0
lockfile==0.12.2
loky==2.8.0
lxml==4.5.2
Mako==1.1.3
mammoth==1.4.9
MarkupSafe==1.1.1
matplotlib==3.2.1
meson==0.54.3
msgpack==1.0.0
mypy-extensions==0.4.3
networkx==2.4
nltk==3.5
numba==0.49.0
numpy==1.18.3
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.3
openTSNE==0.3.12
orange-canvas-core==0.1.12
orange-widget-base==4.5.0
Orange3==3.25.0
packaging==20.4
pandas==1.0.3
PaxPython==0.8
Pillow==7.2.0
pinax-badges==2.0.0
ply==3.11
portage==3.0.4
proto-plus==1.10.0
protobuf==3.13.0
psutil==5.7.0
psycopg2==2.8.5
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.20
pyelftools==0.26
pyflakes==2.2.0
Pygments==2.6.1
pynndescent==0.4.7
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyqtgraph==0.10.0
PySocks==1.7.1
python-dateutil==2.8.0
python-louvain==0.14
python-magic==0.4.18
python-memcached==1.59
python3-openid==3.1.0
pytz==2020.1
PyYAML==5.3.1
rcssmin==1.0.6
regex==2020.4.4
requests==2.22.0
requests-oauthlib==1.2.0
rfc3986==1.4.0
rjsmin==1.1.0
rsa==4.1
schema==0.7.1
scikit-learn==0.22.2.post1
scipy==1.4.1
scons==3.1.2
SecretStorage==3.1.2
serverfiles==0.3.0
simplejson==3.17.2
six==1.15.0
sniffio==1.1.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
total-ordering==0.1.0
tqdm==4.48.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.25.6
webencodings==0.5.1
whitenoise==4.1.4
xlrd==1.2.0
XlsxWriter==1.2.8
zipp==3.1.0
